App_WebReferences/CheckupService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="PatientInformationByHN">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientInformationByHNResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PatientInformationByHNResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientInformationName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Forename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientInformationNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PatientInformationNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EN" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PatientInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PatientInformationResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PatientInformationByHNSoapIn">
    <wsdl:part name="parameters" element="tns:PatientInformationByHN" />
  </wsdl:message>
  <wsdl:message name="PatientInformationByHNSoapOut">
    <wsdl:part name="parameters" element="tns:PatientInformationByHNResponse" />
  </wsdl:message>
  <wsdl:message name="PatientInformationNameSoapIn">
    <wsdl:part name="parameters" element="tns:PatientInformationName" />
  </wsdl:message>
  <wsdl:message name="PatientInformationNameSoapOut">
    <wsdl:part name="parameters" element="tns:PatientInformationNameResponse" />
  </wsdl:message>
  <wsdl:message name="PatientInformationSoapIn">
    <wsdl:part name="parameters" element="tns:PatientInformation" />
  </wsdl:message>
  <wsdl:message name="PatientInformationSoapOut">
    <wsdl:part name="parameters" element="tns:PatientInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="PatientInformationByHN">
      <wsdl:input message="tns:PatientInformationByHNSoapIn" />
      <wsdl:output message="tns:PatientInformationByHNSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PatientInformationName">
      <wsdl:input message="tns:PatientInformationNameSoapIn" />
      <wsdl:output message="tns:PatientInformationNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PatientInformation">
      <wsdl:input message="tns:PatientInformationSoapIn" />
      <wsdl:output message="tns:PatientInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PatientInformationByHN">
      <soap:operation soapAction="http://tempuri.org/PatientInformationByHN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientInformationName">
      <soap:operation soapAction="http://tempuri.org/PatientInformationName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientInformation">
      <soap:operation soapAction="http://tempuri.org/PatientInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PatientInformationByHN">
      <soap12:operation soapAction="http://tempuri.org/PatientInformationByHN" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientInformationName">
      <soap12:operation soapAction="http://tempuri.org/PatientInformationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PatientInformation">
      <soap12:operation soapAction="http://tempuri.org/PatientInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.121.10.7/checkupservice/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.121.10.7/checkupservice/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>